<form class="col-4" (submit)="login()">
  <div class="mb-3">
    <label for="emailField" class="form-label">Email address</label>
    <input type="email" class="form-control" id="emailField">
  </div>
  <div class="mb-3">
    <label for="passwordField" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordField">
  </div>
  <div class="invalid-credential">
    Please provide valid credentials.
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>  
</form>